.icon-add {
    background: #25af45;
    border-radius: 100%;
    color: rgb(255, 255, 255);
    margin-right: 10px !important;
}

.icon-remove{
    background: #a01825;
    border-radius:100%;
    color: rgb(255, 255, 255);
}