.img-auto{
    width: 200px;
    margin: auto;

}

.tachado{
    margin: 10px 20px 0px 0px;
    text-align: right;
    font-family: "Raleway", sans-serif;
    font-size:20px;
    color: #343a40;
    text-decoration: line-through;

}

.icon-auto{
    position:absolute;
    top: 0px;
    right: 0px;
    font-size: 30px;
    margin:10px;
    background: #41be41;
    padding:10px;
    border-radius: 100%;
    color: white;

}