<ion-header>
  <ion-toolbar>
    <ion-title class="subtitulo ion-text-wrap">
      TeLlevoApp
    </ion-title>

    <ion-buttons slot="start">
      <ion-button (click)="openMenu()">
        <ion-icon color="primary" slot="icon-only" name="menu-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button  [routerLink]="['/viajes']" >
        <ion-icon color="primary" slot="icon-only" name="id-card-outline"></ion-icon>
      </ion-button>
      <ion-button  [routerLink]="['/perfil']" >
        <ion-icon color="primary" slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>


  <div *ngFor="let auto of autos">
    <app-auto [auto]= auto></app-auto>

  </div>

</ion-content>